export(iv.binning.simple)
export(iv.gen.data)
export(iv.mult)
export(iv.num)
export(iv.plot.summary)
export(iv.plot.woe)
export(iv.replace.woe)
export(iv.str)
export(varlist)
import(ggplot2)
import(rpart)
importFrom(RColorBrewer,brewer.pal)
importFrom(plyr,rbind.fill)
importFrom(sqldf,sqldf)
